body {
    background: linear-gradient(#252533, #27263C, #2D2C66, #302E78, #2F2D73, #4542DD, #302E78, #302E78);
    background-repeat: no-repeat;
    color: white;
    /* height: 720px; */
}

img {
    width: 150px;
}

hr {
    color: white;
}

ul {
    width: 100%;
}

ul {
    padding: 4ch;
}

.header {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 2ch;
    border-radius: 1ch;
    justify-content: space-between;
}

.navbar-toggler {
    margin-right: 45px;
}


.footer {
    color:white;
    border: thin white;
    text-align: center;
    bottom: 0;
}

.heading {
    margin: 25ch;
    justify-content: center;
}

